---
// components
import Section from "../../elements/Section.astro";
import Text from "../../elements/Text.astro";
import Link from "../../elements/Link.astro";
import SocialLinks from "../../elements/SocialLinks.astro";
---

<Section
    aria-label="Contact"
    title="Contact"
    titleHeading="Let's connect!"
>
    <div class="flex flex-col gap-16 text-base-400">
        <Text variant={'normal'}>Want to talk about something I’ve worked on, share an opportunity, or just say hello? I’d love to hear from you.</Text>
        <Text variant={'normal'}>The fastest way to reach me is by email at <Link variant="inline" href="mailto:salah.dabbech.official@gmail.com" text="salah.dabbech.official@gmail.com" />.</Text>
        <Text variant={'normal'}>You can also find me online or send a message through any of these platforms:</Text>    
    </div>
    
    <SocialLinks />
</Section>
